/*css for Lab 8.1*/

//the body codes are not changing anything
body {
 "background-color:#C0BBBA;"
}

div.wrapper {
    width: 92%;
    margin: auto;
    margin-top: 2ex;
    margin-bottom: 2ex;
    text-align: justify;
    overflow: hidden;
    padding: 0.1ex 2ex 2ex 2ex;
    background-color: #C0BBBA;
}

h3 {
    text-align: left;
	color: blue;
}

body {
 "background-color:gray;"
}
